.container-1 {
  border: 10px solid black;
  justify-content: space-around;
}

.flex-box-container-1 {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  padding: auto;
  justify-content: space-around;
}
.flex-box-container-1 div {
  display: flex;
  padding: 5px;
  border: 1px solid black;
}
